Repository michellepace/nextjs-base: changes, and which lefthook commands are due for each by the changed paths.
All: npm-install, unit-tests

npm-install:
  run: npm install && git add package-lock.json

unit-tests:
  run: npx vitest run

docs: fix README screenshot and caption
  README.md
  x_docs/images/app_screenshot.jpg
Due: none

build: enable Cache Components with cacheComponents flag
  next.config.ts
Due: unit-tests

chore: update dependencies and lint configuration
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

style: reorganise globals.css and update mono font fallback
  app/globals.css
  app/layout.tsx
Due: unit-tests

chore: add pre-push build step and update dependencies
  .claude/settings.json
  CLAUDE.md
  README.md
  lefthook.yml
  package-lock.json
  package.json
Due: npm-install, unit-tests

fix: disable parallel pre-push to avoid build lock race condition
  lefthook.yml
Due: none

rules: rename coderabbit output file and clarify location
  .claude/commands/coderabbit.md
Due: none

chore: update dependencies and GitHub Actions
  .github/workflows/test-e2e-vercel.yml
  .github/workflows/test-e2e.yml
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: update remaining dev dependencies
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: sync package.json versions with installed
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: update dev and runtime dependencies
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

style: apply biome 2.3.11 formatting
  x_docs/reference/default.theme.css
Due: none

fix: prevent playwright report from blocking terminal
  playwright.config.ts
Due: none

rules: add post-merge cleanup slash command
  .claude/commands/merge-cleanup.md
Due: none

chore: update dependencies and project configuration
  .vscode/settings.json
  biome.json
  next.config.ts
  package-lock.json
  package.json
Due: npm-install, unit-tests

rules: move CLAUDE.md to .claude/ and add context rules
  .claude/CLAUDE.md
  .claude/rules/components.md
  .claude/rules/tailwind.md
  .claude/settings.json
  CLAUDE.md
  README.md
Due: none

chore: update biome schema to 2.3.14
  biome.json
Due: none

rules: update commit and coderabbit command templates
  .claude/commands/coderabbit.md
  .claude/commands/commit.md
Due: none

chore: add Ref MCP server configuration
  .mcp.json
Due: none

chore: update minor and patch dependencies
  README.md
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: update markdownlint-cli2 to v0.22 and disable MD060
  .markdownlint.yaml
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: update major dependencies (batch 1)
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: update @vitejs/plugin-react to v6
  package-lock.json
  package.json
  vitest.config.ts
Due: npm-install, unit-tests

rules: include diff hunk context in coderabbit command output
  .claude/commands/coderabbit.md
Due: none

docs: update TypeScript version in README to match package.json
  README.md
Due: none

chore: remove WebFetch domain allowlists from Claude settings
  .claude/settings.json
Due: none

docs: overhaul README with clearer setup steps and updated terminology
  README.md
  x_docs/images/explained.jpg
  x_docs/images/rough-notes.png
  x_docs/images/rough.jpg
  x_docs/images/template-explained.png
  x_docs/project-setup.md
Due: none

ci: bump upload-artifact action from v6 to v7
  .github/workflows/test-e2e-vercel.yml
  .github/workflows/test-e2e.yml
Due: none

rules: allow read-only Vercel CLI commands in Claude settings
  .claude/settings.json
Due: none

docs: expand project setup guide with clearer steps and alternatives
  x_docs/project-setup.md
Due: none

docs: add dev server command to README quick-start steps
  README.md
Due: none

chore: update dependencies and replace vite-tsconfig-paths with native resolve
  .claude/CLAUDE.md
  biome.json
  package-lock.json
  package.json
  vitest.config.ts
Due: npm-install, unit-tests

docs: rename x_docs/ to .xdocs/ and add evaluation reports
  .xdocs/images/app_screenshot.jpg
  .xdocs/images/nextjs-hero.png
  .xdocs/images/rough-notes.png
  .xdocs/images/template-explained.png
  .xdocs/own/WORDS.md
  .xdocs/own/agentmd-over-skills.md
  .xdocs/own/hero-ui.md
  .xdocs/own/quick_notes.md
  .xdocs/own/theme_resources.md
  .xdocs/own/zustand.md
  .xdocs/project-setup.md
  .xdocs/reference/README.md
  .xdocs/reference/default.theme.css
  .xdocs/reference/preflight.css
  README.md
  x_docs/images/github-social-thin.jpg
  x_docs/images/rough-notes.png
Due: none

chore: migrate markdownlint config to cli2 format and tidy workspace
  .markdownlint-cli2.yaml
  .markdownlint.yaml
  .vscode/settings.json
Due: none

rules: update permission syntax and expand coderabbit command
  .claude/commands/coderabbit.md
  .claude/commands/commit.md
  .claude/settings.json
Due: none

chore: bump dependencies within semver ranges
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

rules: adopt git-utils plugin and remove superseded local commands
  .claude/commands/coderabbit.md
  .claude/commands/commit.md
  .claude/commands/merge-cleanup.md
  .claude/settings.json
  README.md
Due: none

fix: silence next/image aspect-ratio warning on Vercel logomark
  app/page.tsx
Due: unit-tests

rules: adopt typescript-lsp plugin and register official marketplace
  .claude/settings.json
  README.md
Due: none

chore: tidy Claude Code allow permissions in project settings
  .claude/settings.json
Due: none

Path conditions:
  npm-install: any of: package.json
  unit-tests: any of: **/*.{ts,tsx,js,jsx}, package.json, package-lock.json, tsconfig.json, next.config.ts, vitest.setup.ts, vitest.config.ts, middleware.ts, instrumentation.ts
