Repository michellepace/nextjs-base: changes, and which lefthook commands are due for each by the changed paths.
All: npm-install, unit-tests

npm-install:
  run: npm install && git add package-lock.json

unit-tests:
  run: npx vitest run

chore: add markdownlint tooling and update README documentation
  .markdownlint.yaml
  README.md
  package-lock.json
  package.json
Due: npm-install, unit-tests

test: add Playwright E2E testing and GitHub Actions workflows
  .github/workflows/check-lint-type.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-unit.yml
  .gitignore
  README.md
  app/layout.tsx
  docs/github-setup.md
  docs/images/github-social.jpg
  e2e/homepage.spec.ts
  evals/actions.md
  lefthook.yml
  package-lock.json
  package.json
  playwright.config.ts
  public/social-card.jpg
  vitest.config.ts
Due: npm-install, unit-tests

docs: move branch protection instructions to README
  README.md
  docs/github-setup.md
Due: none

test: coderabbit | anchor href regex to enforce protocol in doc link test
  e2e/homepage.spec.ts
Due: unit-tests

docs: remove stale documentation
  evals/actions.md
Due: none

docs: add Vercel deployment guide
  docs/ask-vercel.md
Due: none

feature: add Vercel Speed Insights for real user monitoring
  app/layout.tsx
  package-lock.json
  package.json
Due: npm-install, unit-tests

feature: add Vercel Web Analytics for visitor tracking
  app/layout.tsx
  package-lock.json
  package.json
Due: npm-install, unit-tests

ci: add Playwright E2E tests for Vercel Preview deployments
  .github/workflows/test-e2e-vercel.yml
  .github/workflows/test-e2e.yml
  README.md
  docs/ask-vercel.md
  docs/github-setup.md
  playwright.config.ts
Due: none

docs: simplify README intro paragraph
  README.md
Due: none

ci: add concurrency control to Vercel E2E workflow
  .github/workflows/test-e2e-vercel.yml
Due: none

docs: remove stale Vercel reference docs and consolidate notes
  README.md
  docs/ask-vercel.md
  docs/notes.md
Due: none

refactor: remove external links from homepage intro text
  app/page.tsx
Due: unit-tests

ci: add Dependabot for automated dependency updates
  .github/dependabot.yml
  README.md
  docs/github-setup.md
Due: none

docs: rename docs directory to xdocs
  README.md
  xdocs/images/github-social-thin.jpg
  xdocs/notes.md
Due: none

rules: update key commands and simplify version in CLAUDE.md
  CLAUDE.md
Due: none

chore: specify iPhone 11 in Playwright config and adjust background colour
  .mcp.json
  app/globals.css
Due: none

refactor: align app files closer to original Next.js template
  app/globals.css
  app/layout.tsx
  app/page.tsx
Due: unit-tests

docs: add Tailwind CSS 4 theming resources
  xdocs/theming-options.md
Due: none

refactor: establish centralised theming with semantic colour tokens
  app/components/Button.tsx
  app/components/Counter.tsx
  app/fonts.ts
  app/globals.css
  app/layout.tsx
  app/page.tsx
  e2e/homepage.spec.ts
Due: unit-tests

feature: add manual dark mode toggle with next-themes
  app/components/button.tsx
  app/components/counter.test.tsx
  app/components/counter.tsx
  app/components/theme-provider.tsx
  app/components/theme-toggle.tsx
  app/globals.css
  app/layout.tsx
  app/page.tsx
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

refactor: move components directory to project root
  app/layout.tsx
  app/page.tsx
  components/button.tsx
  components/counter.test.tsx
  components/counter.tsx
  components/theme-provider.tsx
  components/theme-toggle.tsx
Due: unit-tests

rules: add CodeRabbit comment evaluation slash command
  .claude/commands/coderabbit.md
Due: none

rules: streamline CLAUDE.md and add combined test script
  CLAUDE.md
  package.json
Due: npm-install, unit-tests

refactor: coderabbit | use @/ import aliases for sibling imports
  app/layout.tsx
  components/counter.test.tsx
  lib/formatPrice.test.ts
Due: unit-tests

refactor: coderabbit | use en-GB locale for British English consistency
  app/layout.tsx
Due: unit-tests

refactor: coderabbit | remove redundant wrapper div from page layout
  app/page.tsx
  components/counter.tsx
Due: unit-tests

rules: update Claude Code permission allowlist
  .claude/settings.json
Due: none

docs: add setup guide and refresh README structure
  README.md
  xdocs/images/explained.jpg
  xdocs/images/rough.jpg
  xdocs/project-setup.md
Due: none

docs: add Vercel CLI setup and fix section numbering
  xdocs/project-setup.md
Due: none

docs: fix typos and formatting in README and setup guide
  README.md
  xdocs/project-setup.md
Due: none

docs: restructure project setup guide
  xdocs/project-setup.md
Due: none

chore: update next and biome dependencies
  package-lock.json
  package.json
Due: npm-install, unit-tests

docs: fix typos and grammar in README
  README.md
Due: none

ci: report E2E preview test status back to PR commits
  .github/workflows/test-e2e-vercel.yml
  xdocs/project-setup.md
Due: none

docs: fix merge terminology in CI workflow diagram
  README.md
Due: none

feature: adopt shadcn/ui default theme system
  app/fonts.ts
  app/globals.css
  app/layout.tsx
  app/page.tsx
  components/button.tsx
  components/counter.test.tsx
  components/counter.tsx
  components/theme-toggle.tsx
  e2e/homepage.spec.ts
  lib/formatPrice.test.ts
  lib/formatPrice.ts
  package-lock.json
  package.json
Due: npm-install, unit-tests

rules: use explicit test and lint command patterns
  .claude/settings.json
Due: none

docs: reorganise x_docs with reference and own folders
  README.md
  x_docs/images/explained.jpg
  x_docs/images/github-social-thin.jpg
  x_docs/images/rough.jpg
  x_docs/own/WORDS.md
  x_docs/own/quick_notes.md
  x_docs/own/theme_resources.md
  x_docs/own/zustand.md
  x_docs/project-setup.md
  x_docs/reference/README.md
  x_docs/reference/default.theme.css
  x_docs/reference/preflight.css
Due: none

rules: update CLAUDE.md with CI/CD tools and breaking changes
  CLAUDE.md
Due: none

Path conditions:
  npm-install: any of: package.json
  unit-tests: any of: **/*.{ts,tsx,js,jsx}, package.json, package-lock.json, tsconfig.json, next.config.ts, vitest.setup.ts, vitest.config.ts, middleware.ts, instrumentation.ts
