Repository michellepace/nextjs-base: changes, and which lefthook commands are due for each by the changed paths.
All: npm-install, unit-tests

npm-install:
  run: npm install && git add package-lock.json

unit-tests:
  run: npx vitest run

chore: allow gh pr view in project Claude Code permissions
  .claude/settings.json
Due: none

coderabbit: action two review threads on PR #39
  .xdocs/own/agentmd-over-skills.md
  README.md
Due: none

coderabbit: action two more review threads on PR #39
  .claude/settings.json
  .xdocs/own/agentmd-over-skills.md
Due: none

ci: bump actions/github-script from v8 to v9
  .github/workflows/test-e2e-vercel.yml
Due: none

chore: allow bare URLs in markdown via MD034
  .markdownlint-cli2.yaml
  .xdocs/own/agentmd-over-skills.md
Due: none

docs: add research note on Playwright CLI vs MCP for Claude Code
  .xdocs/own/playwright-cli-over-mcp.md
Due: none

chore: bump dependencies and remove redundant baseline-browser-mapping pin
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: adopt Playwright CLI over MCP for browser automation
  .claude/settings.json
  .claude/skills/playwright-cli/SKILL.md
  .claude/skills/playwright-cli/references/element-attributes.md
  .claude/skills/playwright-cli/references/playwright-tests.md
  .claude/skills/playwright-cli/references/request-mocking.md
  .claude/skills/playwright-cli/references/running-code.md
  .claude/skills/playwright-cli/references/session-management.md
  .claude/skills/playwright-cli/references/spec-driven-testing.md
  .claude/skills/playwright-cli/references/storage-state.md
  .claude/skills/playwright-cli/references/test-generation.md
  .claude/skills/playwright-cli/references/tracing.md
  .claude/skills/playwright-cli/references/video-recording.md
  .gitignore
  .mcp.json
  .playwright/cli.config.json
  README.md
Due: none

rules: tighten CLAUDE.md tech stack and version bumps
  .claude/CLAUDE.md
Due: none

chore: exclude .claude/skills from markdown linting
  .markdownlint-cli2.yaml
Due: none

chore: swap project plugins and document them in README
  .claude/settings.json
  README.md
Due: none

docs: link README files by full path in backticks
  README.md
Due: none

chore: enforce markdown linting and unhide working docs
  .claude/rules/components.md
  .markdownlint-cli2.yaml
  README.md
  lefthook.yml
  package-lock.json
  package.json
  xdocs/images/app-screenshot.jpg
  xdocs/images/nextjs-hero.png
  xdocs/images/rough-notes.png
  xdocs/images/template-explained.png
  xdocs/own/WORDS.md
  xdocs/own/agentmd-over-skills.md
  xdocs/own/hero-ui.md
  xdocs/own/playwright-cli-over-mcp.md
  xdocs/own/quick-notes.md
  xdocs/own/theme-resources.md
  xdocs/own/zustand.md
  xdocs/project-setup.md
  xdocs/reference/README.md
  xdocs/reference/default.theme.css
  xdocs/reference/preflight.css
Due: npm-install, unit-tests

chore: drop MDX extension recommendation
  .vscode/extensions.json
  .vscode/settings.json
Due: none

rules: trim CLAUDE.md preamble to a README pointer
  .claude/CLAUDE.md
Due: none

chore(deps): bump all in-range dependencies to latest
  .claude/CLAUDE.md
  AGENTS.md
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore(deps): migrate TypeScript 6 -> 7 (native Go compiler)
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore(config): align TypeScript and module config with TS 7
  .vscode/settings.json
  package.json
  tsconfig.json
Due: npm-install

chore(deps): upgrade jsdom 29 -> 30 and jest-dom 6 -> 7
  components/button.test.tsx
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore(deps): pin @types/node to the Node 24 LTS line
  .github/dependabot.yml
  package-lock.json
  package.json
Due: npm-install, unit-tests

rules: cut CLAUDE.md to what earns a slot in every session
  .claude/CLAUDE.md
  README.md
Due: none

chore: lint public/ instead of excluding it
  biome.json
  public/file.svg
  public/globe.svg
  public/next.svg
  public/vercel.svg
  public/window.svg
Due: none

chore: pin Node to the 24 line via .nvmrc and engines
  .claude/CLAUDE.md
  .github/dependabot.yml
  .github/workflows/check-lint-type.yml
  .github/workflows/test-e2e-vercel.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-unit.yml
  .nvmrc
  README.md
  package-lock.json
  package.json
Due: npm-install, unit-tests

docs: add live deployment URL and rename the Vercel project
  README.md
Due: none

chore: drop permission rules Claude Code now grants by default
  .claude/settings.json
Due: none

chore: allow read-only vercel inspect and logs
  .claude/settings.json
Due: none

style: tighten markdownlint by enforcing four disabled rules
  .markdownlint-cli2.yaml
  xdocs/own/agentmd-over-skills.md
  xdocs/own/hero-ui.md
  xdocs/own/playwright-cli-over-mcp.md
  xdocs/own/zustand.md
Due: none

skills(playwright-cli): sync skill with upstream
  .claude/skills/playwright-cli/SKILL.md
  .claude/skills/playwright-cli/references/spec-driven-testing.md
  .claude/skills/playwright-cli/references/storage-state.md
  .claude/skills/playwright-cli/references/test-generation.md
  .claude/skills/playwright-cli/references/video-recording.md
Due: none

chore: update deps to latest patch/minor versions
  biome.json
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore: set save=true in project .npmrc
  .npmrc
Due: none

chore: loosen the babel-plugin-react-compiler pin to ^1.0.0
  package-lock.json
  package.json
Due: npm-install, unit-tests

chore(ci): bump actions/checkout and actions/setup-node to v7
  .github/workflows/check-lint-type.yml
  .github/workflows/test-e2e-vercel.yml
  .github/workflows/test-e2e.yml
  .github/workflows/test-unit.yml
Due: none

chore(biome): enable all rules in the Next.js domain
  biome.json
Due: none

chore(mcp): add the Next.js DevTools MCP server
  .mcp.json
  README.md
Due: none

chore(vscode): label App Router tabs so page.tsx files stay distinct
  .vscode/settings.json
Due: none

Path conditions:
  npm-install: any of: package.json
  unit-tests: any of: **/*.{ts,tsx}, !e2e/**/*, package-lock.json, vitest.config.ts
